{% extends 'base.html' %}
{% load static %}

{% block title %}Avvisi{% endblock title %}

{% block avvisi %}
    <a class="nav-link selected" href="#"><i class="fas fa-bell fa-fw mr-2"></i>Avvisi</a>
{% endblock avvisi %}

{% block content %}
    <div class="main-wrapper">
        <section class="main-section px-3 py-5 p-md-5">

            <div class="container">
                <div class="title col-12 text-center">
                    <h1>Avvisi</h1>
                </div><!--//col-->

                <div class="row my-5">
                    <div class="col-12 text-center mb-5">
                        
                    </div><!--//col-->

                </div><!--//row-->
            </div><!--//container-->

        </section><!--//main-section-->
    </div><!--//main-wrapper-->
{% endblock content %}
